/*--------------------------------------------------------------- INDEX.HTML ---------------------------------------------------------------------------------------*/
/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

/* Navigation Bar */
header {
    background: #2c3e50;
    padding: 20px;
    color: white;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}

/* Hero Section */
.hero {
    background-image: url('images/4.jpeg');
    background-size: cover;
    text-align: center;
    color: white;
    padding: 150px 0;
}
.cta-button {
    padding: 10px 20px;
    background: #e74c3c;
    color: white;
    text-decoration: none;
}

/* Rooms Section */
#rooms {
    padding: 50px;
    text-align: center;
}
.room-list {
    display: flex;
    justify-content: center;
}
.room {
    margin: 20px;
    text-align: left;
}
.room img {
    width: 100%;
    height: auto;
}

/* Facilities Section */
#facilities {
    background: #f9f9f9;
    padding: 50px;
    text-align: center;
}
#facilities ul {
    list-style: none;
    padding: 0;
}
#facilities ul li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
}

/* Contact Section */
#contact {
    padding: 50px;
    background: #ecf0f1;
}
#contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}
#contact form input, #contact form textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}
#contact form button {
    padding: 10px;
    background: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
}

/* Footer */
footer {
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/*--------------------------------------------------------------- INDEX.HTML ---------------------------------------------------------------------------------------*/

#booking-form {
    padding: 50px;
    text-align: center;
}

#booking-form form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

#booking-form label {
    margin-top: 20px;
    text-align: left;
}

#booking-form input, #booking-form select {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

#booking-form button {
    padding: 10px 20px;
    background-color: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
